@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Regular.woff2");
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Medium.woff2");
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Semibold.woff2");
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Bold.woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: 400;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #22253B;
  background-color: #F8F8F8;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 117rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 1160px;
}

button {
  background-color: #F15525;
  border-radius: 82px;
  color: #FFFFFF;
}

header {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #EAF2F5;
}

.header {
  padding: 18px 21px;
  max-height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 75px;
}
.header a:hover {
  color: #F15525;
}
.header ul {
  display: flex;
  gap: 41px;
}
.header ul li {
  font-size: 13px;
}
.header__reg {
  display: flex;
  align-items: center;
}
.header__reg a {
  font-size: 13px;
  color: #3C3E50;
}
.header__button {
  margin-left: 15px;
  padding: 9px 15px;
  display: flex;
  align-items: center;
  background-color: #38BFF2;
  font-weight: 500;
  font-size: 12px;
  border-radius: 34px;
}
.header__button:hover {
  background-color: #F15525;
}
.header__button a {
  color: #FFFFFF;
}
.header__button a:hover {
  color: #FFFFFF;
}
.header__button img {
  margin-right: 5px;
  width: 10px;
  height: 9px;
}
.header__burger {
  display: none;
}

@media (max-width: 480px) {
  .header__button {
    padding: 15px 20px;
  }
  .header nav {
    display: none;
  }
  .header__reg-link {
    display: none;
  }
  .header__burger {
    display: block;
  }
}