@charset "UTF-8";
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Regular.woff2");
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Medium.woff2");
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Semibold.woff2");
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Bold.woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: 400;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #22253B;
  background-color: #F8F8F8;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
  transition: 500ms;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 117rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 1160px;
}

button {
  background-color: #F15525;
  border-radius: 82px;
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
}

button:hover {
  background-color: #38BFF2;
}

.title {
  font-weight: 700;
  font-size: 46px;
  text-align: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s ease-in-out;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

/* Делаем оболочку-ссылку чтобы закрывался Popup при клике в любом месте экрана */
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  background-color: #fff;
  color: black;
  max-width: 800px;
  padding: 55px 117px;
  border-radius: 30px;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #BCBCBC;
  text-decoration: none;
}

.popup__title {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 1em;
}

.popup__text {
  text-align: center;
  font-size: 15px;
  line-height: 1.3;
}

.link {
  font-size: 50px;
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 30px;
  color: orange;
}

header {
  min-width: 1400px;
  padding: 15px 15px 30px 15px;
  background: url(../image/header__bg.webp);
  background-repeat: no-repeat;
  background-position-x: 65%;
}

.header {
  padding: 18px 21px;
  max-height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 75px;
}
.header a:hover {
  color: #F15525;
}
.header ul {
  display: flex;
  gap: 41px;
}
.header ul li {
  font-size: 13px;
}
.header__reg {
  display: flex;
  align-items: center;
}
.header__reg a {
  font-size: 13px;
  color: #3C3E50;
}
.header__button {
  margin-left: 15px;
  padding: 9px 15px;
  display: flex;
  align-items: center;
  background-color: #38BFF2;
  font-weight: 500;
  font-size: 12px;
  transition: 500ms;
  border-radius: 34px;
}
.header__button:hover {
  background-color: #F15525;
}
.header__button a {
  color: #FFFFFF;
}
.header__button a:hover {
  color: #FFFFFF;
}
.header__button img {
  margin-right: 5px;
  width: 10px;
  height: 9px;
}
.header__burger {
  display: none;
}
.header__main {
  padding-bottom: 70px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.header__main-desc {
  max-width: 645px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__main-desc-title {
  font-weight: 500;
  font-size: 46px;
}
.header__main-desc-title span {
  font-weight: 700;
}
.header__main-desc-text {
  padding-top: 15px;
  max-width: 370px;
  margin-top: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  border-top: 1px solid #DEDEDE;
}
.header__main-desc-button {
  position: relative;
  margin-right: 60px;
  margin-top: 19px;
  padding: 27px 75px 28px 45px;
  font-size: 20px;
  letter-spacing: -0.03em;
}
.header__main-desc-button::before {
  content: "";
  background: url(../image/button__arrow.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 40px;
}

.bracket {
  color: #F15525;
}

.arrow__down {
  margin: 0 auto;
  width: 55px;
  height: 55px;
  background-color: #fff;
  padding: 14px;
  border-radius: 50%;
}

.tech {
  min-width: 1400px;
  margin-top: -70px;
  background-image: url(../image/tech_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px;
}
.tech__title {
  padding-top: 140px;
}
.tech__wrap {
  margin-top: 40px;
  background-color: #EAF2F5;
  padding: 42px 104px 0 122px;
  border-radius: 48px;
  display: flex;
  justify-content: space-between;
}
.tech__image {
  max-width: 407px;
}
.tech__desc-text {
  margin-top: 25px;
  max-width: 386px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
}

.tech__desc-spans {
  max-width: 466px;
  font-size: 17px;
  line-height: 1.2;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tech__desc-spans span {
  display: block;
  border-radius: 44px;
}

.blue {
  padding: 12px 20px 11px;
  background-color: #5096FF;
}

.orange {
  padding: 12px 20px 11px;
  background-color: #FFB359;
}

.red {
  padding: 12px 20px 11px;
  background-color: #FF6F50;
}

.green {
  padding: 12px 20px 10.5px;
  background-color: #4BD071;
}

.lightBlue {
  padding: 12px 20px 10px;
  background-color: #50C0FF;
}

.deepBlue {
  padding: 12px 20px 10.7px;
  background-color: #4B77B9;
}

.purple {
  padding: 12px 25px 10.7px;
  background-color: #AF93FF;
}

.education {
  margin-top: 80px;
  padding-bottom: 85px;
}
.education__title {
  margin: 0 auto;
  max-width: 600px;
}
.education__items {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.education__item {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 35px 31px;
  background-color: #EAF2F5;
  border-radius: 30px;
}
.education__item img {
  width: 58px;
  height: 58px;
}
.education__item-title {
  margin-top: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
.education__item-text {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.2;
}

.how {
  margin-top: 55px;
}
.how__text {
  max-width: 642px;
  margin: 25px auto;
}
.how__video-wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin: 50px auto;
  width: 763px;
  height: 442px;
  background-image: url(../image/how_bg.webp);
}
.how__video {
  margin: auto;
  max-width: 585px;
  border-radius: 17px;
  background: rgb(25, 26, 38);
}
.how__video img {
  margin-bottom: 25px;
  opacity: 0.1;
}

.circle {
  position: absolute;
  top: 35%;
  right: 40%;
  width: 122px;
  height: 122px;
  background: rgba(241, 85, 37, 0.32);
  border-radius: 82px;
}
.circle__wrap {
  position: absolute;
  top: 16%;
  right: 17%;
  text-align: center;
  width: 80px;
  height: 80px;
  background: #F15525;
  border-radius: 82px;
  transition: 500ms;
}
.circle__wrap:hover {
  transform: scale(1.2);
}
.circle img {
  position: absolute;
  top: 35%;
  right: 35%;
  margin: auto;
  width: 20px;
  height: 18px;
}

.numbers__items {
  padding: 55px;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 40px;
}
.numbers__item {
  display: flex;
  flex-direction: column;
  max-width: 267px;
  gap: 20px;
  text-align: left;
}
.numbers__item:not(:first-child) {
  border-left: 1px solid #EAF2F5;
  margin-right: 40px;
  padding-left: 50px;
}
.numbers__item-num {
  font-weight: 700;
  font-size: 77px;
  color: #38BFF2;
}
.numbers__item-title {
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #22253B;
}
.numbers__item-text {
  font-size: 16px;
  line-height: 1.4;
  color: #22253B;
}
.numbers__desc {
  margin: auto;
  max-width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  background-color: #FFFFFF;
  border-radius: 110px;
  padding: 12px 37px 14px 20px;
}
.numbers__desc-button {
  min-width: 250px;
  position: relative;
  padding: 25px 75px 25px 45px;
  font-size: 16px;
  letter-spacing: -0.03em;
}
.numbers__desc-button::before {
  content: "";
  background: url(../image/button__arrow.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 45px;
}
.numbers__desc-text {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
}

.help {
  margin-top: 90px;
  padding-bottom: 90px;
  background-color: #FFFFFF;
  border-radius: 80px;
}
.help__items {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.help__item {
  background-color: #EAF2F5;
  border-radius: 40px;
}
.help__item-desc {
  max-width: 730px;
  padding: 54px 90px 50px 100px;
}
.help__item-desc p {
  padding-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.help__item-img-up {
  max-width: 400px;
  padding: 41px 65px;
}
.help__item-img-down {
  padding: 16px 71px;
}

.price {
  padding-top: 90px;
  padding-left: 20px;
}
.price__items {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.price__item {
  display: flex;
  align-items: center;
  gap: 30px;
}
.price__item img {
  width: 61px;
  height: 61px;
}
.price__item-text {
  font-size: 16px;
  line-height: 1.3;
}

.zaza {
  min-width: 305px;
}

.lala {
  min-width: 155px;
}

.baba {
  min-width: 300px;
}

.table {
  margin-top: 50px;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 35px;
}
.table__row {
  padding: 16px 255px 16px 19px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-align: left;
  line-height: 1.2;
}
.table__row-blue {
  margin-bottom: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #38BFF2;
}
.table__row-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}
.table__row-gray {
  background-color: #F3F3F3;
  border-radius: 10px;
}

.blu {
  margin-left: 125px;
}

.three {
  margin-right: 250px;
}

.five {
  margin-right: 100px;
}

.six {
  margin-left: 150px;
}

.seven {
  margin-right: 60px;
}

.eight {
  margin-right: 30px;
}

.nine {
  margin-left: 220px;
}

.foot {
  margin-top: 25px;
  margin-left: 50px;
  font-size: 16px;
  line-height: 1.5;
  color: #8E8E8E;
}

.megafon {
  margin-top: 40px;
  padding: 65px 51px 65px 175px;
  background-color: #EAF2F5;
  background-image: url(../image/megafon.webp);
  background-repeat: no-repeat;
  background-position: 54px 50%;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.megafon__button {
  width: 311px;
  height: 70px;
  position: relative;
  padding: 15px 91px 15px 26px;
  display: block;
  margin-left: 30px;
  font-size: 20px;
  line-height: 1;
}
.megafon__button::before {
  content: "";
  background: url(../image/button__arrow.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 25px;
  position: absolute;
  top: 28px;
  right: 65px;
}
.megafon__text {
  max-width: 600px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
}

.footer {
  margin-top: 80px;
}
.footer__items {
  display: flex;
  justify-content: space-between;
}
.footer__down {
  margin-top: 50px;
  margin-bottom: 40px;
  padding-top: 30px;
  border-top: 1px solid #D8D8D8;
  display: flex;
  justify-content: space-between;
}
.footer__down span {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  color: #8E8E8E;
}
.footer__down a {
  font-size: 16px;
  line-height: 1.4;
  color: #8E8E8E;
}
.footer__down a:hover {
  color: #22253B;
}

.item__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.item__left-desc {
  display: flex;
  gap: 19px;
}
.item__left-logo img {
  width: 87px;
  height: 32px;
}
.item__left-logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #8E8E8E;
}
.item__left-social {
  padding-bottom: 60px;
  display: flex;
  gap: 16px;
}
.item__left-social img {
  width: 35px;
  height: 35px;
  transition: 600ms;
}
.item__left-social img:hover {
  transform: scale(1.2);
}

.item__center ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.item__center a {
  font-size: 13px;
}
.item__center a:hover {
  color: #38BFF2;
}

.item__right-desc-phone {
  margin-bottom: 10px;
}
.item__right-desc-phone a {
  color: #38BFF2;
}
.item__right-data {
  margin-top: 65px;
}
.item__right-data span {
  display: block;
  font-size: 13px;
  line-height: 1.7;
  color: #8E8E8E;
}