header {
    min-width: 1400px;
    padding: 15px 15px 30px 15px;
    background: url(../image/header__bg.webp);
    background-repeat: no-repeat;
    background-position-x: 65%;

}

.header {
    padding: 18px 21px;
    max-height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 75px;
    & a:hover {
        color: #F15525;
    }
    & ul {
        display: flex;
        gap: 41px;
        & li {
            font-size: 13px;
        }
    }
    &__reg {
        display: flex;
        align-items: center;
        & a {
            font-size: 13px;
            color: #3C3E50;
        }
    }
    &__button {
        margin-left: 15px;
        padding: 9px 15px;
        display: flex;
        align-items: center;
        background-color: #38BFF2;
        font-weight: 500;
        font-size: 12px;
        transition: 500ms;
        border-radius: 34px;
        &:hover {
            background-color: #F15525;
        }
        & a {
            color: #FFFFFF;
            &:hover {
                color: #FFFFFF;
            }
        }
       & img {
        margin-right: 5px;
        width: 10px;
        height: 9px;
       }
    }
    &__burger {
        display: none;
    }
    &__main {
        padding-bottom: 70px;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        &-desc {
            max-width: 645px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-title {
                font-weight: 500;
                font-size: 46px;
                & span {
                    font-weight: 700;
                }
            }
            &-text {
                padding-top: 15px;
                max-width: 370px;
                margin-top: 45px;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.4;
                border-top: 1px solid #DEDEDE;
            }
            &-button {
                position: relative;
                margin-right: 60px;
                margin-top: 19px;
                padding: 27px 75px 28px 45px;
                font-size: 20px;
                letter-spacing: -0.03em;
                &::before {
                    content: '';
                    background: url(../image/button__arrow.svg);
                    background-repeat: no-repeat;
                    width: 15px;
                    height: 25px;
                    position: absolute;
                    top: 30px;
                    right: 40px;
                }
            }
        }
    }
}
.bracket {
    color: #F15525;
}
.arrow__down {
   margin: 0 auto;
    width: 55px;
    height: 55px;
    background-color: #fff;
    padding: 14px;
    border-radius: 50%;
}
