.help {
    margin-top: 90px;
    padding-bottom: 90px;
    background-color: #FFFFFF;
    border-radius: 80px;
    &__items {
        padding-top: 90px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
    }
    &__item {
        background-color: #EAF2F5;
        border-radius: 40px;
        &-desc {
            max-width: 730px;
            padding: 54px 90px 50px 100px;
            & p {
                padding-top: 18px;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;

            }
        }
        &-img-up{
            max-width: 400px;
            padding: 41px 65px;
        }
        &-img-down {
        padding: 16px 71px;
        }
    }
}