*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}

html {
    font-family: 'Gilroy', sans-serif; // шрифт по умолчанию по сайту
    font-style: normal;
    font-weight: 400;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1;
    margin: 0;
    padding: 0;
}

body {
  
    font-style: normal;
    font-weight: 400;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #22253B; // цвет по умолчанию текста по сайту
    background-color: #F8F8F8; //
}

input,
textarea {
    -webkit-animation: bugfix infinite 1s;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: unset;
}

a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    cursor: pointer;
    font: inherit;

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

button {
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    padding: 0;
    background-color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 117rem;
    margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    width: 1160px;
}
button {
    background-color: #F15525;
    border-radius: 82px;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
}
button:hover {
    background-color: #38BFF2;
}
.title {
    font-weight: 700;
    font-size: 46px;
    text-align: center;
}