@font-face {
    font-family: 'Gilroy', sans-serif;
    src: url('../fonts/Gilroy-Regular.woff2');
}
@font-face {
    font-family: 'Gilroy', sans-serif;
    src: url('../fonts/Gilroy-Medium.woff2');
}
@font-face {
    font-family: 'Gilroy', sans-serif;
    src: url('../fonts/Gilroy-Semibold.woff2');
}
@font-face {
    font-family: 'Gilroy', sans-serif;
    src: url('../fonts/Gilroy-Bold.woff2');
}
@import '_set';
@import '_header'